body{
	font-family: Arial;
}

#Gandalf{
	background-image: url(https://i.postimg.cc/DwtjGhZg/gandalf.png);
}

#Aragorn{
	background-image: url(https://i.postimg.cc/wBRKKFtW/aragorn.png);
}

#Gimli{
	background-image: url(https://i.postimg.cc/ZKNyRzGZ/gimli.png);
}
.wanted-notice{
	background-size: 100%;
	background-repeat: no-repeat;
    opacity:0.65;

	width:18em;
	height:20em;
}
.reward{
	background-color: rgba(240,243,244,0.8);
	border-radius: 18px;
	border: none;
    color: black;
    padding: 1em 3em;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 20px;
}
.price{
	color: #FC6306;
}
.criminal-name{
	text-align: center;
	font-size: 35em;
	color: #FDFEFE;
	padding-top: 150px;
}
#Yummy:hover,
#Hobbit:hover,
#Gandalf:hover{
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 1;


	width:18em;
	height:20em;
}
div .wanted-notice:hover .criminal-name{
	    font-size:10em;

}

div .wanted-notice:hover .reward{
	    font-size:1px;
	    background-color : transparent;
	    border: none;
}
